{{ define "main" }} 
  {{- $title := .Title -}} 
  {{- $pages := .Pages -}} 
  {{- $summary := false -}} 
  {{- if .IsHome -}} 
    {{- $title = "Homepage" -}} 
    {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}} 
    {{- $summary = true -}} 
  {{- end -}}
    
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">        
      <div class="grid gap-8 sm:grid-cols-2 sm:gap-12 lg:grid-cols-2 xl:grid-cols-2 xl:gap-16">
        {{ range first 16 .Site.RegularPages.ByDate.Reverse }}
        <!-- article - start -->
        <div class="flex flex-col items-center gap-4 md:flex-row lg:gap-6">
          <a href="#" class="group relative block h-56 w-full shrink-0 self-start overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-24 md:w-24 lg:h-40 lg:w-40">
            <img src="{{ .Permalink }}/images/eyecatch.png" loading="lazy" alt="{{ .Title }}" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
          </a>
  
          <div class="flex flex-col gap-2">
            <h2 class="text-xl font-bold text-gray-800">
              <a href="{{ .Permalink }}" class="transition duration-100 hover:text-indigo-500 active:text-indigo-600">{{ .Title }}</a>
            </h2>
  
            <span class="inline-grid grid-cols6 gap-4">
              <span class="inline-block text-sm text-gray-400">{{ .Date.Format "2006-01-02" }}</span>
              {{ range .Params.categories }}
                <span class="inline-block text-sm text-gray-400"> | <a class="tag tag--primary tag--small" href="{{ $.Site.LanguagePrefix }}/categories/{{ . | urlize }}/">{{ . }}</a></span>
              {{ end }}
              {{ range .Params.tags }}
                <span class="inline-block text-sm text-gray-400"> | <a class="tag tag--primary tag--small" href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}/">{{ . }}</a></span>
              {{ end }}
            </span>
  
            <p class="text-gray-500">{{ .Summary }}</p>
  
            <div>
              <a href="{{ .Permalink }}" class="font-semibold text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700">Read more</a>
            </div>
          </div>
        </div>
        {{ end }}
        <!-- article - end -->
    </div>
  </div>
{{ end }}